<a href="#" onclick="context.current_controller.material = 'sun';return false;">Sun</a> |
<a href="#" onclick="context.current_controller.material = 'plasma';return false;">Plasma</a> |
<a href="#" onclick="context.current_controller.material = 'granite';return false;">Granite</a> |
<a href="#" onclick="context.current_controller.material = 'wood';return false;">Wood</a>
